/* =================fuentes============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =================css================== */
@import url(nav.css);

/* ===============variables================== */

:root {
    /* colors */
    --body-color:#f8f8f8;
    --nav-color: transparent;
    --side-nav: #010718;
    --text-color: #fff;
    --text-color2:#333;
    --line-section: #ccc;
    --search-bar: #f2f2f2;
    --search-text: #010718;
    --verde_1: #69da32;
    --verde_1-transparent: rgba(106, 218, 50, 0.2);
    --verde_2: #002e00;
    --verde_3: #4e8d08;

}


/* general */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* home */

.home {
    background: url(../recursos/home-sinbg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* home- seccion de informacion */

.home .container .info-home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.home .container .info-home .social-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    z-index: 2;
}

.home .container .info-home .social-media a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
.home .container .info-home .social-media a i {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.home .container .info-home .info {
    width: 60%;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    z-index: 10;
    padding: 1rem 1rem 8rem 1rem;
}

.home .container .info-home .info .info-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.home .container .info-home .info .info-title h2 {
    color: var(--text-color);
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px #000;
}

.home .container .info-home .info .info-title h2 span {
    color: var(--verde_3);
    text-shadow: 1px 1px 1px #000;
}

.home .container .info-home .info .info-text {
    color: var(--text-color);
    font-size: .9rem;
}

/* este boton se usara para la pagina */
    /* inicio */

.btn {
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--verde_1-transparent);
    width: max-content;
    padding: .6rem 1.5rem;
    border-radius: 10px;
    display: inline-block;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    transition: all .3s ease;

}

.btn:hover {
    background: var(--verde_1);
    color: white;
    border: 1px solid transparent;
    text-shadow: 1px 1px 1px #000;
    box-shadow: 0 0 10px var(--verde_1),
                0 0 40px var(--verde_1),
                0 0 80px var(--verde_1);
    transition-delay: 1s;
}

.btn span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,var(--verde_1));
}

.btn:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,var(--verde_1));
}

.btn:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,var(--verde_1));
}

.btn:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,var(--verde_1));
}

.btn:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

/* final de boton */


/* home - imagen de paneles home */
.home .container .img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 100%;
    background: url(../recursos/paneles-removebg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}


/* =====================About========================== */

.about {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 5rem;
    min-height: 100dvh;
}

/* este title se usara para las secciones */

    /* inicio */
.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title span {
    width: 10px;
    height: 10px;
    background: var(--line-section);
    border-radius: 50%;
    position: relative;
}

.title #point1::before {
    content: '';
    position: absolute;
    width: 2500px;
    height: 2px;
    background: var(--line-section);
    top: 4px;
    right: 8px;

}

.title #point2::before {
    content: '';
    position: absolute;
    width: 2500px;
    height: 2px;
    background: var(--line-section);
    top: 4px;
    left: 8px;

}

.title h3 {
    font-size: 1.8rem;
    color: var(--verde_3);
}

/* final titulo general */

.about .container {
    width: 100%;
    min-height: 70vh;
    background: url(../recursos/aboutus-bg-removebg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    


}

.about .container .info-about {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    


}

.about .container .info-about p {
    width: 48%;
    height: 100%;
    padding: 1rem;
    color: var(--text-color2);
    
    
}

.about .container .info-about span {
    width: 2px;
    height: 200px;
    background: var(--line-section);
}

.about .container .btn {
    color: var(--text-color2);
}

.about .container .btn:hover {
    color: var(--text-color);
}